* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    background: linear-gradient(145deg, #bde617, #e1ff1b);
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue;
}

#container h1 {
    padding-bottom: 10vh;
    text-align: center;
}

#container label {
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}

#container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

/* #container button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    background: linear-gradient(145deg, #bde617, #e1ff1b);
    box-shadow: 11px 11px 9px #8ba811, -11px -11px 9px #ffff22;
} */

#container button:hover {
    padding: 10px;
    border-radius: 10px;
    background: #d2ff19;
    box-shadow: inset 11px 11px 9px #8ba811, inset -11px -11px 9px #ffff22;
}

#container button {
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px;
    border: white 1px solid;
    background: white;
    color: linear-gradient(145deg, #bde617, #e1ff1b);
    box-shadow: unset;
}

#nameTaker {
    width: 50%;
    display: flex;
    /* display: none; */
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #bde617, #e1ff1b);
    box-shadow: 11px 11px 9px #8ba811, -11px -11px 9px #ffff22;
    padding: 20px;
    border-radius: 50px;
}

#questionTaker {
    width: 50%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #bde617, #e1ff1b);
    box-shadow: 11px 11px 9px #8ba811, -11px -11px 9px #ffff22;
    padding: 20px;
    border-radius: 50px;
}

#result {
    width: 50%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #bde617, #e1ff1b);
    box-shadow: 11px 11px 9px #8ba811, -11px -11px 9px #ffff22;
    padding: 20px;
    border-radius: 50px;
    align-content: center;
}

#result > h1{
    display: flex;
    position: relative;
    align-self: center;
    margin: auto;
    height: 0;
    
}

#resultText{
    color: darkred;
}



#reset {
    margin: 2%;
}

img {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}